<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Add Product | Hamza Paints</title>
  <link rel="icon" href="/images/weldon-paints-logo.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/addProduct.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <main>
    <h1>Add New Products</h1>

    <div class="form-container">
      <select id="brandName">
        <option value="">Select Brand</option>
        <% definitions.forEach(def => { %>
          <option value="<%= def.brandName %>"><%= def.brandName %></option>
        <% }) %>
      </select>

      <select id="itemName">
        <option value="">Select Item</option>
      </select>

      <select id="colourCode" disabled>
        <option value="">Select Colour</option>
      </select>

      <select id="quantitative">
        <option value="">Select Unit</option>
      </select>

      <input id="totalProduct" type="number" class="totalproduct" placeholder="Total Product" min="1">
      <input id="rate" type="number" placeholder="Rate" min="1">

      <button id="add">Add Product</button>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Brand</th>
            <th>Item</th>
            <th>Color</th>
            <th>Unit</th>
            <th>Total Product</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>

    <button class="submit-btn">Submit & Save</button>
    <div id="db-data-provider" data-definitions="<%= JSON.stringify(definitions) %>" style="display: none;"></div>
  </main>


  <script src="/javascripts/addProduct.js"></script>
</body>
</html>