<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sale Bill | Hamza Paints</title>
  <link rel="icon" href="/images/weldon-paints-logo.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/printSales.css">
</head>

<body>
  <div class="print-area">

    <div class="shop-header">
      <img src="/images/weldon-paints-logo.png" id="logo">
      <div class="shop-name-en">
        Hamza Weldon Paint & Hardware Store
      </div>
      <div class="shop-name-ur">
        حمزہ ویلڈن پینٹ اینڈ ہارڈویئر سٹور
      </div>
      <div class="shop-phones">
        <span dir="ltr">0319-9303154</span>(حمزہ)
        <span dir="ltr">0332-9780911</span>(اسماعیل)
        <span dir="ltr">0335-0502041</span>(مبارک شاہ)
      </div>
      <br>
      
    </div>
    
    <p><b>Bill ID:  </b><span id="displaybillID" style="font-weight: bold;"></span></p>
    <br>
    <p><b>Customer name:  </b><span id="displayName" style="font-weight: bold;"></span></p>
    <br>
    <p><b>Entry date:</b> <%= currentDate %></p>
    <br>
    

    <h3>Remarks:</h3>

    <table>
      <thead>
        <tr>
          <th>Stock ID</th>
          <th>Sale ID</th>
          <th>Item</th>
          <th>Color</th>
          <th>Unit</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="billTableBody">
      </tbody>
    </table>

    <div class="footer">
      <span id="billTotalItems">Total items: 0</span>
      <span id="billTotalAmount">Total amount: Rs 0.00</span>
    </div>

    <div class="urdu-footer">
      پتہ: ملک تاج مارکیٹ، دکان نمبر 5،6 کوہاٹ بورڈ ہائی وے چوک
    </div>

    <div class="urdu-warning">
      .بل کے بغیر واپسی نہیں ہوگی
    </div>
    <div class="thank-you-section">
      THANK YOU FOR VISITING HAMZA PAINTS
    </div>

    <div class="dev-footer">
      <span>Software Developed by: M.SHOUKAT (0335 8004900)</span><br>
    </div>

  </div>

  <script src="/javascripts/printSales.js"></script>
</body>
</html>