<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Refund Sales | Hamza Paints</title>
  <link rel="icon" href="/images/weldon-paints-logo.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/refundSales.css">
</head>

<body>

  <%- include('partials/navbar') %>


    <main>

      <div class="content-wrapper">
        <div class="form-wrapper">
          <h1>Refund Sales</h1>

          <form id="refundForm" class="form-container">
            <input type="text" name="stockID" placeholder="Enter Sale StockID" required />
            <input type="text" name="saleID" placeholder="Enter Sale SaleID" required />
            <input min="1" max="1000" type="number" name="productQuantity" placeholder="Enter Quantity of Sale" required />
            <button type="submit" id="add">Refund Now</button>
          </form>

          <div id="refundResult" style="margin-top:20px; font-size:16px;"></div>
        </div>

    </main>
    <script src="/javascripts/refundSales.js"></script>

    </div>
</body>

</html>